<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://cdn.webix.com/edge/webix.css" type="text/css">
  <script src="https://cdn.webix.com/edge/webix.js" type="text/javascript"></script>
  <title>Webix</title>
  <style type="text/css">
  	body {background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);}
    .webix_message_area{
      margin-right: 100px;
    };
    .webix_inp_label{
      width: 100px;
    };
  .mywin .webix_win_head>.webix_view>.webix_template {
  	background: #444; 
    color: #AFA;
  }
  </style>
</head>
<body>
  <script type="text/javascript">

var rule = {
 	"username":webix.rules.isNotEmpty,
 	"password":webix.rules.isNotEmpty	
}
  
var form = {
		view:"form", id:"sets",
	    scroll:false,
	    width:300,
	    rules:rule,
	    elementsConfig:{
	        labelPosition:"top",
	        labelWidth:140,
	        bottomPadding:12
	      },
	    elements:[
	      { view:"text", label:"User Name", name:"username", invalidMessage:"User Name can not be empty"},
	      { view:"text", type:"password", label:"Password", name:"password", invalidMessage:"Password can not be empty"},
// 	      { margin:5, cols:[
// 	        { view:"button", value:"Login" , click:save
// // 	        	var data = JSON.stringify( $$("sets").getValues());
// // 	          	webix.message(data);
// // 	          	webix.ajax().headers({"Content-type":"application/json"}).post("postUser", data).then(function(data){
// // 	            	console.log(data.text());
// // 	            	if(data.text()!=1){webix.message("wrong account");}
// // 	            	else{webix.message("yessss account");}
// // 	          	}); 
// 	        }
// 	      ]}
	      { view:"button", label:"Login", click:save }
	    ]
	    };
  
webix.ui({
	  view:"window",
	  id:"win3",
	  height:500,
	  width:450, 
	  css:"mywin",
	  position:"center",
	  head:{
	    view:"toolbar", cols:[
	      { width:4 },
	      { view:"label", label: "Login" }
	    ]
	  },
	  body:{
		  rows:[
			    form
			  ]
	  }
	}).show();

function save() {
    var form = this.getParentView();
    if (form.validate()){
    	var data = JSON.stringify( $$("sets").getValues());
      	webix.message(data);
      	webix.ajax().headers({"Content-type":"application/json"}).post("postUser", data).then(function(data){
        	console.log(data.text());
        	if(data.text()!=1){webix.message("wrong account");}
        	else{webix.message("yessss account"); webix.send("/listWebix");}
      	});
    } 
}

  </script>
</body>
</html>