<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Login</title>
<link rel="stylesheet" type="text/css"
th:href="@{/theme/login/style.css}">
</head>
<body>
	<center><b><h1 style="color: white; margin-bottom: -50px;">Register</h1></b></center>
	<div class="login-page">
	  <div class="form">
	    <form th:action="@{/result}" th:object="${user}" method="post">
	      <input type="text" placeholder="UserName" th:field="*{account.username}" required/>
	      <input type="password" placeholder="Password" th:field="*{account.password}" required/>
	      <input type="text" placeholder="FullName" th:field="*{fullname}" required/>
	      <input type="email" placeholder="Email" th:field="*{email}" required/>
	      <input type="text" placeholder="Phone" th:field="*{phone}" required/>
	      <button type="submit">create</button>
	      <p class="message">Already registered? <a href="login">Sign In</a></p>
	    </form>
	  </div>
	</div>
</body>
</html>