<?xml version="1.0" encoding="UTF-8"?>
<mapper namespace="com.spring.mybatis.mapper.UserMapper" >
    <!--<cache />-->
    <resultMap id="baseResultMap" type="User" >
        <result column="id" property="id" jdbcType="INTEGER" />
        <result column="username" property="username" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
    </resultMap>

    <select id="findAll" resultMap="baseResultMap">
        select * from user
    </select>
</mapper>

